
/* CAROUSEL */


 

.scroll_badges {
    background-color: $first-bg-color;
    

   
  .main-carousel{
      padding: 2rem 0;
      padding-bottom: 4rem;
  }
  
  .carousel-cell {
      width: 45%; 
      
      margin-right: 10px;
      display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
  
          span{
              font-size: 18px;
              margin-bottom: .5rem;
              
          }
          p{
              font-weight: bold;
              width: 100px;
          }
          
    }
    .flickity-page-dots{
        bottom: 0px;
         .dot {
      height: 4px;
      width: 20%;
      margin: 0;
      border-radius: 0;
      
    }
     }
    .flickity-button {
      display: none;
    } 

}
