

.grid_long{
    grid-template-columns: repeat(6, minmax(1em,1fr)) !important;
}






@media screen and (min-width: 550px) {

    .grid_editorial{
        display: grid;
        grid-template-columns: 50% 50%;
        @media screen and(min-width:551px)and(max-width:1023px) {
            grid-template-columns: repeat(8,minmax(1em,1fr)) ;
            
        }
       
        .editorial_sec_bg{
            height: 800px;
            @media screen and(min-width:551px)and(max-width:1023px) {
                grid-column: 1/ span 5;
                
            }
        }
        .editorial_info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2rem 7rem;
            @media screen and(min-width:551px)and(max-width:1023px) {
                padding: 2rem 2rem;
                grid-column: 6/span 3;
                p{
                    font-size: $font_size_m;
                    line-height: 20px;
                }
                
            }
            
        }

              
    }

    .grid_4col{
        display: grid;
        grid-template-columns: repeat(12, minmax(1em, 1fr));
        .form{
            grid-column: 2/span 4;
            padding-top: 0;
            
            input{
                width:317px;
                margin-right:$margin_xs;
            }
        }
    }

    section:nth-of-type(3){
        .editorial_info{
            order: -1;
            
            @media screen and(min-width:551px)and(max-width:1023px) {
                grid-column: 1/span 3;
                
            }
            
        }
        .editorial_sec_bg{
            @media screen and(min-width:551px)and(max-width:1023px) {
                grid-column: 4/span 5;
                
            }
        }



    }




}


