header{
    background-color: white;
    z-index: 10000001;
    position: fixed;
    top: 0px;
    width: 100%;
}



.discount_header_container p{
    font-size: 12px;

   
}
.discount_header_container {
    color: white;
    background-color: black;
    padding: 1rem 2rem;
    position: relative;
    z-index: 10000001;
    @media screen and (min-width: 550px) {
        text-align: center; 
    }

    button{
        background:none;
        border: none;
        position: absolute;
        top: 0.5rem;
        right: 2rem;
        cursor: pointer;
        color: white;
        
    }
   
    
}


.header_menu{
    padding: 1.3rem 0;
    
       
    ul{
   
        list-style: none;
        display: flex;
       
        li{
            margin-right: 1rem;
            display: flex;
            align-items: center;
            a{
                display: none;
                text-decoration: none;
                color: black;
                padding: .5rem;
                transition: all 250ms;
                @media screen and (min-width: 550px){  
                display: inline-block;
                font-size: $font_size_xl;
                font-weight: 700;
                position: relative;
                &::after{
                    @include border_after;
                    
                }
                &:hover::after,
                &:focus::after{
                    @include border_hover_after;
                    
                }
                }

            }
            button{
                a{
                    display: inline-block;
                }
                @media screen and (min-width: 550px){  
                   display: none;
                }
            }
        }

    
    }
    .logo_wrapper{
        text-align: center;
        border: 1px dashed black;
        padding: 1.5rem 0;
        font-size: 16px;
    }
}


.header_nav_grid{
    background-color: white;
    display: grid;
    grid-template-columns: 1.5rem  minmax(50px, 1fr) minmax(100px, 150px) minmax(50px, 1fr)  1.5rem;
    @media screen and (min-width: 550px) {
        grid-template-columns: 5rem  minmax(50px, 1fr) minmax(100px, 150px) minmax(50px, 1fr)  5rem  ;  
    }
}
.header_menu{
    ul{
        grid-column: 2;
        align-items: center;
    }
    .logo_wrapper{
        grid-column: 3;
    }
}

