@mixin  display_flex {
    display: flex;
    
}

@mixin display_flex_justify_space_bet {
    @include display_flex();
    justify-content: space-between;
   
    
}

@mixin display_flex_justify_center {
    @include display_flex();
    justify-content: center;
   
    
}

@mixin display_flex_align_center {
    @include display_flex();
    
    align-items: center;
    
}

@mixin display_flex_align_center {
    @include display_flex();
    
    align-items: center;
    
}

@mixin border_after {
    content: "";
                    position: absolute;
                    width: 0;
                    height: 2px;
                    bottom: -5px;
                    left: 5px;
                    opacity: 0;
                    transition: all 250ms;
                    background-color: $black;

    
}

@mixin border_hover_after {
    opacity: 1;
    width: 100%;

    
}