/* HERO_SEC */


.hero_info a{   text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font_size_m;
    color: $black;
    cursor: pointer;


}

.hero_info a.button_no_dashed span{
    font-size: $font_size_l;
    margin-left: $margin_xs;
}

.hero_sec{
    width: 100%;
    @media screen and (min-width: 550px) {
        position: relative;

    }
    .hero_sec_bg{
        @media screen and (min-width: 550px) {
            height:685px;
    
        } 
    }  
}
.hero_sec_bg,
.editorial_sec_bg
{
    height: 377px;
}
.hero_sec_bg img,
.editorial_sec_bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_info,
.editorial_info,
.contact_us{
    background-color: white;
}
.hero_info,
.editorial_info,
.social
{
padding:2rem  1.5rem;

}
      


.hero_info p.tag,
.editorial_info p.tag{
    text-transform: uppercase;
    margin-bottom: $margin_xxs;
    font-weight: 500;
    font-size: $font_size_s;
}

.hero_info{
    text-align: center;
    @media screen and (min-width: 550px) {
        position: absolute;
            bottom: 0;
            left: 2rem;
            background: rgba(255, 255, 255, 0.54);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            width: 532px;
            height: 311px;
            text-align: left;
            padding: $margin_l $margin_xxl;
    }
    
    .text_info{
        display: none;
        @media screen and (min-width: 550px) {
            display: block;
            font-size: $font_size_l;

        }
    }
    a{
        transition: all 250ms;
        position: relative;
        @media screen and (min-width: 550px) {
            justify-content: flex-start;
            &::after{
                @include border_after;
                left: 0;
               
                
            }
            &:hover::after,
            &:focus::after{
                @include border_hover_after;
                width: 45%;
                
            }
            
        }
        
        

    }
    
    
}


