@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/footer';
@import 'partials/carousel';
@import 'partials/singleProductCarousel';
@import 'partials/header';
@import 'partials/btn';
@import 'partials/productsPage';
@import 'partials/productPage';
@import 'partials/sections';
@import 'partials/grid';



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: $font_size_s;
}

body{
    background: $first-bg-color;
    
}
button{
    border: none;
    background: none;
    cursor: pointer;
}

/*********** UTILITY **********/


.heart{
    color: $favorite-color;
    
}

.width_33{
    width: 33.33%;
}

.margin_top{
    margin-top: $margin_xxl;
}








/*********** HERO SEC **********/



h1,
h2
{
    font-size: $font_size_h_s;
    margin-bottom: $margin_xs;

}




                 
.editorial_info p{
    font-size: $font_size_l;
    line-height: 24px;
}


















