@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/footer';
@import 'partials/carousel';
@import 'partials/singleProductCarousel';
@import 'partials/header';
@import 'partials/btn';
@import 'partials/productsPage';
@import 'partials/productPage';
@import 'partials/sections';
@import 'partials/grid';



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: $font_size_s;
}

body{
    background: $first-bg-color;
    
}
button{
    border: none;
    background: none;
    cursor: pointer;
}

/*********** UTILITY **********/


.heart{
    color: $favorite-color;
    
}

.width_33{
    width: 33.33%;
}

.margin_top{
    margin-top: $margin_xxl;
}


.grid_long{
    grid-template-columns: repeat(6, minmax(1em,1fr)) !important;
}








/*********** HERO SEC **********/



h1,
h2
{
    font-size: $font_size_h_s;
    margin-bottom: $margin_xs;

}




                 
.editorial_info p{
    font-size: $font_size_l;
    line-height: 24px;
}



















@media screen and (min-width: 550px) {




  
   
    .hero_sec{
        position: relative;
        .hero_sec_bg{
            height:685px;
            

        }
        .hero_info{
            position: absolute;
            bottom: 0;
            left: 2rem;
            background: rgba(255, 255, 255, 0.54);
            padding: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            width: 532px;
            height: 311px;
            text-align: left;
           
            .text_info{
                display: block;
            }
            a{
                justify-content: flex-start;
            }
        }

    }

   
   

    

  

  }

