@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/footer';
@import 'partials/carousel';
@import 'partials/singleProductCarousel';
@import 'partials/header';
@import 'partials/btn';
@import 'partials/productsPage';
@import 'partials/productPage';
@import 'partials/sections';
@import 'partials/grid';
@import 'partials/reset';


button{
    border: none;
    background: none;
    cursor: pointer;
}

/*********** UTILITY **********/


.heart{  
    @include heart; 
    color: $favorite-color;
    
}
.heart_white{
    @include heart; 
    color: white;
}


@keyframes beat {
    0%   {transform: scale(.9);}
    25%  {transform: scale(1);}
    50%  {transform: scale(1.1);}
    75%  {transform: scale(.9);}
    100% {transform: scale(1);}
  }


.width_33{
    width: 33.33%;
}


.width_100{
    width: 100%;
}



.margin_left_auto{
    margin-left: auto;
}




.ul_appear_onClick{
    display: inline-block !important;
    margin-left: 36px;
    margin-top: 1rem;
    li{
        margin: .5rem 0;
        
        a{
            text-decoration: none;
            color: $black;
        }
    }
}

.margin_top{
    margin-top: $margin_xxl;
}




.drop_shadow{
    box-shadow: 0px 0px 10px rgba(122, 122, 122, 0.156);
    
}






h1,
h2
{
    font-size: $font_size_h_s;
    margin-bottom: $margin_xs;

}




                 
.editorial_info p{
    font-size: $font_size_l;
    line-height: 24px;
}





.js-scroll {
    opacity: 0;
    transition: opacity 700ms;
  }
   
  .js-scroll.scrolled {
    opacity: 1;
  }













